@model IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.FichaInvestigador.TelefonoViewModel>
@using Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.FichaInvestigador
<!-- Telefono modal -->
<div class="modal fade" id="telefonosModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Telefonos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditarTelefonos", "FichaInvestigador", FormMethod.Post))
                {
                <div class="col-md-12 table-responsive">
                    <table id="Telefonos" class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Numero)
                                </th>
                                <th>
                                    Privado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int contadorTelefono = 0;
                                foreach (var telefono in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DropDownList(telefono.Tipo + contadorTelefono,
          new SelectList(telefono.CatalogoTipoTelefono, "Value", "Text", telefono.IdTipoTelefono.ToString()),
          htmlAttributes: new { @class = "form-control" })
                                        </td>
                                        <td>@Html.TextBox("NumeroTelefono", telefono.Numero, htmlAttributes: new { @class = "form-control" })</td>
                                        <td>
                                            <div class="form-check m-2">
                                                <input class="form-check-input" type="checkbox" value="" id="telefonoPrivacidad">
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btnGrande btnAzul">Guardar</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger">Eliminar</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <hr />
                    <p>Agregar nuevo teléfono</p>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DropDownList("catTipoTelefonoAgregar", new SelectList(Model.ToList()[0].CatalogoTipoTelefono, "Value", "Text"), new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="Teléfono" />
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btnAzul ">Agregar teléfono</button>
                        </div>
                    </div>
                </div>
                    <hr />
                 }
                <!--<div class="row input-group">
                    <div class="col-4">

                        @*Html.DropDownList("Tipos de teléfono", (IEnumerable<SelectListItem>)ViewData["catalogoTipoTelefono"], htmlAttributes: new { @class = "form-control", id = "TipoTelefonoNuevo" })
                    </div>
                    <div class="col-8">
                        <input class="form-control" placeholder="Número" />
                    </div>
                </div>
                <div class="row d-flex flex-row-reverse">
                    @Html.ActionLink("Agregar teléfono", "AgregarTelefono", Model, htmlAttributes: new { @class = "btnGrande btnAzul" })-->
                    @*<button type="button" class="btnAzul m-3 ">Agregar teléfono</button>*@
                <!--</div>-->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>