@model Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.FichaInvestigador.oVistaInvestigador
@{
    ViewBag.Title = "Ficha del Investigador";
    Layout = "~/Views/Shared/MainMenu.cshtml";
}

<div class="container-fluid ml-3">
    <h3 class="blue font-weight-bold">Información Personal</h3>
    @using (Html.BeginForm(
           "Index", "FichaInvestigador", FormMethod.Post, new { id = "formInvestigador" }
        ))
    {<div class="row">
            <div class="col-md-6 mt-3">
                <div class="row">
                    <div class="col-md-5 ">
                        <label>Identificación</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.identificacion, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Nombre</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.nombre, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4 ">
                        <label>Apellidos</label>
                    </div>
                    <div class="col-md-4 ">
                        @Html.TextBoxFor(vista => vista.investigador.apellido1, new { @class = "form-control " })
                    </div>
                    <div class="col-md-4 ">
                        @Html.TextBoxFor(vista => vista.investigador.apellido2, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Nacionalidad</label>
                    </div>
                    <div class="col-md-5 ">
                        <select class=" form-control">
                            <option>Afgano</option>
                            <option>Andorrano</option>
                            <option>Angolano</option>
                            <option>Antiguano</option>
                            <option>Argelino</option>
                            <option>Armênio</option>
                            <option>Argentino</option>
                            <option>Austríaco</option>
                            <option>Bahamense</option>
                            <option>Bangladês</option>
                            <option>Barbadiano</option>
                            <option>Baremita</option>
                            <option>Bielorrusso</option>
                            <option>Belga</option>
                            <option>Boliviano</option>
                            <option>Bósnio</option>
                            <option>Cabo-verdiano</option>
                            <option>Camaronense</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Pais Nacimiento</label>
                    </div>
                    <div class="col-md-5 ">
                        <select class=" form-control">
                            <option>Afganistán</option>
                            <option>Albania</option>
                            <option>Alemania</option>
                            <option>Algeria</option>
                            <option>Andorra</option>
                            <option>Angola</option>
                            <option>Anguilla</option>
                            <option>Antigua y Barbuda</option>
                            <option>Antillas Holandesas</option>
                            <option>Arabia Saudita</option>
                            <option>Argentina</option>
                            <option>Armenia</option>
                            <option>Aruba</option>
                            <option>Australia</option>
                            <option>Austria</option>
                            <option>Azerbaiyán</option>
                            <option>Bahamas</option>
                            <option>Bahrein</option>
                            <option>Bangladesh</option>
                            <option>Barbados</option>
                            <option>Bélgica</option>
                            <option>Belice</option>
                            <option>Benín</option>
                            <option>Bermudas</option>
                            <option>Bielorrusia</option>
                            <option>Bolivia</option>
                            <option>Bosnia y Herzegovina</option>
                            <option>Botsuana</option>
                            <option>Brasil</option>
                            <option>Brunéi</option>
                            <option>Bulgaria</option>
                            <option>Burkina Faso</option>
                            <option>Burundi</option>
                            <option>Bután</option>
                            <option>Cabo Verde</option>
                            <option>Camboya</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Fecha Nacimiento</label>
                    </div>
                    <div class="col-md-5 ">
                        <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
                            @Html.TextBoxFor(vista => vista.investigador.nacimiento, new { @class = "form-control" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Celular **</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.celular, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Teléfono Oficina **</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.telOficina, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Número de Fax **</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.fax, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Unidad en la que Labora **</label>
                    </div>
                    <div class="col-md-5 ">
                        <select class=" form-control">
                            <option>DOP</option>
                            <option>VIE</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-md-6 mt-3">
                <div class="row">
                    <div class="col-md-5 ">
                        <label>Foto</label>
                    </div>
                    <div class="col-md-5 ">
                        <div class="wrapperBotonAgregar">
                            <input class="btnGrande btnAzul" type="button" value="Agregar Foto">
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Fecha de Ingreso al TEC</label>
                    </div>
                    <div class="col-md-5 ">
                        <div id="datepicker-group" class="input-group date" data-date-format="dd/mm/yyyy">
                            @Html.TextBoxFor(vista => vista.investigador.fechaIngreso, new { @class = "form-control" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Seudónimo Bibliográfico</label>
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(vista => vista.investigador.seudonimoBibliografico, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Email **</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.email, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Apartado Postal</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.apartadoPostal, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Sexo</label>
                    </div>
                    <div class="col-md-5 ">
                        <select class=" form-control">
                            <option>Femenino</option>
                            <option>Masculino</option>
                            <option>Prefiero no decirlo</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Situación Laboral</label>
                    </div>
                    <div class="col-md-5 ">
                        <select class=" form-control">
                            <option>Empleado</option>
                            <option>Desempleado</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>% de Nombramiento Indefinido</label>
                    </div>
                    <div class="col-md-5 ">
                        @Html.TextBoxFor(vista => vista.investigador.porcentajeNombramiento, new { @class = "form-control " })
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Categoría Académica</label>
                    </div>
                    <div class="col-md-5 ">
                        <select class=" form-control">
                            <option> </option>
                            <option> </option>
                            <option> </option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-5 ">
                        <label>Disciplina</label>
                    </div>
                    <div class="col-md-5 ">
                        <div class="wrapperBotonAgregar">
                            <input class="btnGrande btnAzul" type="button" value="Agregar Disciplina">
                        </div>
                    </div>
                </div>

            </div>

        </div>}
</div>
<div class="container-fluid mt-5">
    <h3 class="blue font-weight-bold">Perfiles Académicos</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Tipo de perfil</label>
            <input type="text" class="col-md-6 form-control" id="gradoAcadInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6">URL del perfil</label>
            <input type="text" class="col-md-6 form-control" id="gradoAcadInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-12 form-inline align-items-center">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Perfil">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 ml-3">

    <h3 class="blue font-weight-bold">Estudios Realizados</h3>
    @using (Html.BeginForm(
           "Investigador", "Home", FormMethod.Post, new { id = "formEstudioRealizado" }
        ))
    {
        <div class="row align-items-center justify-items-center mt-3">
            <div class="col-md-4 form-inline">
                <label class="col-md-6" for="gradoAcadInput">Grado Académico</label>
                <input type="text" class="col-md-6 form-control" id="gradoAcadInput" />
            </div>
            <div class="col-md-4 form-inline">
                <label class="col-md-6">Institución</label>
                <select class="col-md-6 form-control">
                    <option>TEC</option>
                    <option>UNA</option>
                    <option>UTN</option>
                    <option>UCR</option>
                    <option>Universidad Latina</option>
                    <option>Universidad Internacional de las Américas</option>
                </select>
            </div>
            <div class="col-md-4 form-inline">
                <label class="col-md-6">País</label>
                <select class="col-md-6 form-control">
                    <option>País</option>
                </select>
            </div>
        </div>
        <div class="row align-items-center justify-items-center mt-3">
            <div class="col-md-4 form-inline">
                <label class="col-md-6" for="anioGradInput">Año de Graduación</label>
                <input type="text" class="col-md-6 form-control" id="anioGradInput" />
            </div>
            <div class="col-md-4 form-inline">
                <label class="col-md-6" for="areaEstInput">Área de Estudio</label>
                <input type="text" class="col-md-6 form-control" id="areaEstInput" />
            </div>
        </div>
    }
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-12 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Estudio">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Grado Académico</th>
                    <th>Institución</th>
                    <th>País</th>
                    <th>Año de Graduación</th>
                    <th>Área de Estudio</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>
<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Idiomas</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-4 form-inline">
            <label class="col-md-6">Idioma</label>
            <select class="col-md-6 form-control">
                <option>Alemán</option>
                <option>Inglés</option>
                <option>Español</option>
                <option>Francés</option>
                <option>Italiano</option>
            </select>
        </div>
        <div class="col-md-4 form-inline">
            <label class="col-md-6">Nivel de habla</label>
            <select class="col-md-6 form-control">
                <option>Avanzado</option>
                <option>Intermedio</option>
                <option>Bajo</option>

            </select>
        </div>
        <div class="col-md-4 form-inline">
            <label class="col-md-6">Nivel de lectura</label>
            <select class="col-md-6 form-control">
                <option>Avanzado</option>
                <option>Intermedio</option>
                <option>Bajo</option>

            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-4 form-inline">
            <label class="col-md-6">Nivel de escritura</label>
            <select class="col-md-6 form-control">
                <option>Avanzado</option>
                <option>Intermedio</option>
                <option>Bajo</option>

            </select>
        </div>
        <div class="col-md-4 form-inline">
            <label class="col-md-6">Idioma natal</label>
            <select class="col-md-6 form-control">
                <option>Si</option>
                <option>No</option>

            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-12 form-inline align-items-center">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Idioma">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Idioma</th>
                    <th>Nivel de habla</th>
                    <th>Nivel de lectura</th>
                    <th>Nivel de escritura</th>
                    <th>Idioma natal</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Experiencia en Investigación</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="nombrePuestoInput">Nombre del Puesto</label>
            <input type="text" class="col-md-6 form-control" id="nombrePuestoInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Unidad Departamental</label>
            <select class="col-md-6 form-control">
                <option>Unidad departamental</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="anioInicioInput">Año de Inicio</label>
            <input type="text" class="col-md-6 form-control" id="anioGradInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="anioTerminoInput">Año de Término</label>
            <input type="text" class="col-md-6 form-control" id="anioTerminoInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Experiencia">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Nombre del Puesto</th>
                    <th>Unidad Departamental</th>
                    <th>Año de Inicio</th>
                    <th>Año de Graduación</th>
                    <th>Año de Término</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Participación en Proyectos, Redes, Grupos de Trabajo, Asociaciones, Comités Editoriales, Otros.</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="nombrePuestoInput">Nombre del Puesto</label>
            <input type="text" class="col-md-6 form-control" id="nombrePuestoInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Entidad</label>
            <select class="col-md-6 form-control">
                <option>Entidad</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="anioInicioInput">Año de Inicio</label>
            <input type="text" class="col-md-6 form-control" id="anioGradInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="anioTerminoInput">Año de Término</label>
            <input type="text" class="col-md-6 form-control" id="anioTerminoInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Participación">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Nombre del Puesto</th>
                    <th>Entidad</th>
                    <th>Año de Inicio</th>
                    <th>Año de Graduación</th>
                    <th>Año de Término</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>


<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Premios Obtenidos</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="nombrePremioInput">Nombre del premio</label>
            <input type="text" class="col-md-6 form-control" id="nombrePremioInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Año</label>
            <select class="col-md-6 form-control">
                <option>Año</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="institucionInput">Institución</label>
            <input type="text" class="col-md-6 form-control" id="institucionInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="paisInput">País</label>
            <input type="text" class="col-md-6 form-control" id="paisInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Premio">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Nombre del premio</th>
                    <th>Año</th>
                    <th>Institución</th>
                    <th>País</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Áreas Frascati</h3> 
</div>

<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Artículos Revista</h3>
</div>

<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Patentes de Innovación</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="nombrePatenteInput">Nombre de la patente</label>
            <input type="text" class="col-md-6 form-control" id="nombrePatenteInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="numPatenteInput">Número de la patente</label>
            <input type="text" class="col-md-6 form-control" id="numPatenteInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="inscritoEnInput">Inscrito en</label>
            <input type="text" class="col-md-6 form-control" id="inscritoEnInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Año</label>
            <select class="col-md-6 form-control">
                <option>Año</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Patente">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Nombre de la patente</th>
                    <th>Número de patente</th>
                    <th>Inscrito en</th>
                    <th>Año</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mt-5 ml-3">
    <h3 class="blue font-weight-bold">Licenciamientos</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="productoLicenciadoInput">Producto licenciado</label>
            <input type="text" class="col-md-6 form-control" id="productoLicenciadoInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="licenciadaAInput">Licenciada a</label>
            <input type="text" class="col-md-6 form-control" id="licenciadaAInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3"> 
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Año</label>
            <select class="col-md-6 form-control">
                <option>Año</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Licenciamiento">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Producto licenciado</th>
                    <th>Licenciada a</th> 
                    <th>Año</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mt-5 ml-3 mr-3">
    <h3 class="blue font-weight-bold">Software</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="tituloInput">Título</label>
            <input type="text" class="col-md-6 form-control" id="tituloInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="plataformaInput">Plataforma</label>
            <input type="text" class="col-md-6 form-control" id="licenciadaAInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Año</label>
            <select class="col-md-6 form-control">
                <option>Año</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Software">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Título</th>
                    <th>Plataforma</th>
                    <th>Año</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th> 
            </tr>
        </table>
    </div>
</div>