<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/BuscadorProyectos.css")
    @Styles.Render("~/Content/SeguimientoProyecto.css")
    @Styles.Render("~/Content/FichaInvestigador.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="container-fluid" style="background-color:lightgray">
        <div class="row">
            <div class="sidebar sideMenu mainMenu">
                <img src="~/Assets/TEC-logo-white.png" alt="TEC-logo-white" />
                <ul class="nav nav-sidebar d-flex flex-column">
                    <li class="d-flex flex-row">
                        <a href="/FichaInvestigador">
                            <span class="fa fa-address-book"></span>
                            Ficha del investigador
                        </a>
                    </li>
                    <li class="d-flex flex-row">
                        <a href="/Convocatoria">
                            <span class="fa fa-calendar" aria-hidden="true"></span>
                            Convocatoria
                        </a>
                    </li>
                    <li class="d-flex flex-row">
                        <a href="#">
                            <span class="fa fa-file" aria-hidden="true"></span>
                            Formulación de propuestas
                        </a>
                    </li>
                    <li class="d-flex flex-row">
                        <a href="#">
                            <span class="fa fa-eye" aria-hidden="true"></span>
                            Seguimiento de proyectos
                        </a>
                    </li>
                    <li class="d-flex flex-row">
                        <a href="#">
                            <span class="fa fa-check" aria-hidden="true"></span>
                            Evaluaciones
                        </a>
                    </li>
                    <li class="d-flex flex-row">
                        <a href="#">
                            <span class="fa fa-info" aria-hidden="true"></span>
                            Reportes
                        </a>
                    </li>
                    <li class="d-flex flex-row">
                        <a href="#">
                            <span class="fa fa-cog" aria-hidden="true"></span>
                            Configuraciones
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main content-page">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>