
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/BuscadorProyectos.css")
    @Styles.Render("~/Content/SeguimientoProyecto.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/all.min.css" rel="stylesheet" />
</head>

<body>
    <div>
        <nav style="border-width:0; margin:0; padding:0" class="navbar">
            <div style="padding-left:0" class="container-fluid">
                <button type="button" onclick="location.href='@Url.Action("Index","Home")'" class="btn btn-default btn-lg regresarBtn">
                    <i class="fas fa-arrow-left"></i>
                    Regresar
                </button>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="#">Features</a>
                    <a class="p-2 text-dark" href="#">Enterprise</a>
                    <a class="p-2 text-dark" href="#">Support</a>
                    <a class="p-2 text-dark" href="#">Pricing</a>
                </nav>
            </div>
            <div class="page-title">
                <h3>@ViewBag.title</h3>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div style="display:flex" class="row">
            <div class="col-sm-2 col-md-2 sidebar sideMenu">
                <ul class="nav nav-sidebar">
                    <li><a href="@Url.Action("UIDatosProyecto","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Datos del proyecto</a></li>
                    <li><a href="@Url.Action("UIInvestigadoresAsociados","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Investigadores Asociados</a></li>
                    <li><a href="@Url.Action("UICambiarInvestigadorCoordinador","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Cambiar investigador coordinador</a></li>
                    <li><a href="@Url.Action("UIAgregarODS","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Objetivos de Desarrollo Sostenible</a></li>
                    <li><a href="@Url.Action("UIAreaFrascati","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Áreas Frascati</a></li>
                    <li><a href="@Url.Action("UIPoblacionBeneficiaria","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Población beneficiaria</a></li>
                    <li><a href="@Url.Action("UIUbicacionGeografica","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Ubicación geográfica</a></li>
                    <li><a href="@Url.Action("UIPalabrasClave","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Palabras Clave</a></li>
                    <li><a href="@Url.Action("UIPresupuesto","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Presupuesto</a></li>
                    <li><a href="@Url.Action("UIDepartamentos","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Departamentos</a></li>
                    <li><a href="@Url.Action("UIProgramacionInformes","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Programación de informes</a></li>
                    <li><a href="@Url.Action("UIAmpliarFechas","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Ampliar fechas</a></li>
                    <li><a href="@Url.Action("UIIngresarInforme","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Ingresar informes</a></li>
                    <li><a href="@Url.Action("UICompras","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Compras</a></li>
                    <li><a href="@Url.Action("UIContratos","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Contratos</a></li>
                    <li><a href="#">Cronograma</a></li>
                    <li><a href="@Url.Action("UIIncidencias","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Incidencias</a></li>
                    <li><a href="@Url.Action("UIBitacora","SeguimientoProyecto", new { CodigoProyecto=ViewData["CodigoProyecto"]})">Bitácoras</a></li>
                </ul>
            </div>
            <div class="col-sm-10 col-md-9 main">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
