@model Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.FichaInvestigador.oInvestigador 
@{
    ViewBag.Title = "FichaInvestigador";
    Layout = "~/Views/Shared/MainMenu.cshtml";
}

<div class="container-fluid">
    <h3 class="blue font-weight-bold">Información Personal</h3>
    @using (Html.BeginForm(
           "Investigador", "Home", FormMethod.Get, new { id = "formInvestigador" }
        ))
    {<div class="row">
            <div class="col-lg-2">Nombre</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.nombre, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Apellido</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.apellido1, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Apellido</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.apellido2, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Nacionalidad</div>
            <div class="col-lg-10">
                @Html.DropDownListFor(investigador => investigador.Nacionalidad, new SelectList( "Id", "NombreRegion" ))
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Pais Nacimiento</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.paisNacimiento, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">Dirección</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.direccion, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Seudononimo Bibliografico</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.seudonimoBibliografico, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Apartado Postal</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.apartadoPostal, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Categoría Académica</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.categoriaAcademica, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Consentimiento</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.consentimiento, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Fecha Ingreso</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.fechaIngreso, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2">Tipo</div>
            <div class="col-lg-10">
                @Html.TextBoxFor(investigador => investigador.tipo, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12"><input type="submit" value="Submit" class="btn btn-primary"></div>

        </div>}
</div>

<div class="container-fluid mt-5">
    <h3 class="blue font-weight-bold">Perfiles Académicos</h3>
</div>

<div class="container-fluid mt-5">

    <h3 class="blue font-weight-bold">Estudios Realizados</h3>
    @using (Html.BeginForm(
           "Investigador", "Home", FormMethod.Get, new { id = "formEstudioRealizado" }
        ))
    {
        <div class="row align-items-center justify-items-center mt-3">
            <div class="col-md-3 form-inline">
                <label class="col-md-6" for="gradoAcadInput">Grado Académico</label>
                @Html.TextBoxFor(investigador => investigador.nombre, new { @class = "form-control" })
            </div>
            <div class="col-md-3 form-inline">
                <label class="col-md-6">Institución</label>
                <select class="col-md-6 form-control">
                    <option>Institución</option>
                </select>
            </div>
            <div class="col-md-3 form-inline">
                <label class="col-md-6">País</label>
                <select class="col-md-6 form-control">
                    <option>País</option>
                </select>
            </div>
        </div>
        <div class="row align-items-center justify-items-center mt-3">
            <div class="col-md-3 form-inline">
                <label class="col-md-6" for="anioGradInput">Año de Graduación</label>
                <input type="text" class="col-md-6" form-control" id="anioGradInput" />
            </div>
            <div class="col-md-3 form-inline">
                <label class="col-md-6" for="areaEstInput">Área de Estudio</label>
                <input type="text" class="col-md-6" form-control" id="areaEstInput" />
            </div>
        </div>
    }
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Estudio">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Grado Académico</th>
                    <th>Institución</th>
                    <th>País</th>
                    <th>Año de Graduación</th>
                    <th>Área de Estudio</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>
}

<div class="container-fluid mt-5">
    <h3 class="blue font-weight-bold">Idiomas</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <label class="col-md-6">Idioma</label>
            <select class="col-md-6 form-control">
                <option>Idioma</option>
            </select>
        </div>
        <div class="col-md-3 form-inline">
            <label class="col-md-6">Nivel de habla</label>
            <select class="col-md-6 form-control">
                <option>Nivel de habla</option>
            </select>
        </div>
        <div class="col-md-3 form-inline">
            <label class="col-md-6">Nivel de lectura</label>
            <select class="col-md-6 form-control">
                <option>Nivel de lectura</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <label class="col-md-6">Nivel de escritura</label>
            <select class="col-md-6 form-control">
                <option>Nivel de escritura</option>
            </select>
        </div>
        <div class="col-md-3 form-inline">
            <label class="col-md-6">Idioma natal</label>
            <input type="text" class="col-md-6" form-control" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Idioma">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Idioma</th>
                    <th>Nivel de habla</th>
                    <th>Nivel de lectura</th>
                    <th>Nivel de escritura</th>
                    <th>Idioma natal</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid mt-5">
    <h3 class="blue font-weight-bold">Experiencia en Investigación</h3>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="nombrePuestoInput">Nombre del Puesto</label>
            <input type="text" class="col-md-6" form-control" id="nombrePuestoInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6">Unidad Departamental</label>
            <select class="col-md-6 form-control">
                <option>Unidad departamental</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="anioInicioInput">Año de Inicio</label>
            <input type="text" class="col-md-6" form-control" id="anioGradInput" />
        </div>
        <div class="col-md-6 form-inline">
            <label class="col-md-6" for="anioTerminoInput">Año de Término</label>
            <input type="text" class="col-md-6" form-control" id="anioTerminoInput" />
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-3">
        <div class="col-md-3 form-inline">
            <div class="wrapperBotonAgregar">
                <input class="btnGrande btnAzul" type="button" value="Agregar Experiencia">
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-items-center mt-5">
        <table class="table table-striped ">
            <thead class="table-heading">
                <tr id="ROW1">
                    <th>Nombre del Puesto</th>
                    <th>Unidad Departamental</th>
                    <th>Año de Inicio</th>
                    <th>Año de Graduación</th>
                    <th>Año de Término</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
            <tr>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
                <th>x</th>
            </tr>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-lg-2">Apellido</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.apellido1, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Apellido</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.apellido2, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Nacionalidad</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.Nacionalidad, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Pais Nacimiento</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.paisNacimiento, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-lg-2">Dirección</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.direccion, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Seudononimo Bibliografico</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.seudonimoBibliografico, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Apartado Postal</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.apartadoPostal, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Categoría Académica</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.categoriaAcademica, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Consentimiento</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.consentimiento, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Fecha Ingreso</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.fechaIngreso, new { @class = "form-control" })
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">Tipo</div>
    <div class="col-lg-10">
        @Html.TextBoxFor(investigador => investigador.tipo, new { @class = "form-control" })
    </div>
</div>