@model IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Proyecto>
@{
    ViewBag.Title = "BuscadorProyectos";
    Layout = "~/Views/Shared/MainMenu.cshtml";
}


<div class="container-fluid">
    <h2>Buscador de Proyectos</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row formRow">
            <label class="col-md-5" for="parametrosInput">Parámetros de busqueda</label>
            <input type="text" class="col-md-5" form-control" id="parametrosInput" name="parametrosInput"/>
            <button type="submit">
                Buscar
            </button>
        </div>
        <div class="row formRow">
            <div class="col-md-12 form-inline">
                <label class="col-md-5">Criterio de búsqueda</label>
                @Html.DropDownList("criteriosBusqueda", ViewData["criteriosBusqueda"] as SelectList, "Escoja un criterio de busqueda")
            </div>
        </div>
    }
    <table class="table table-striped table-bordered disenoTabla formRow">
        <tr id="ROW1">
            <th>Código</th>
            <th>Nombre del proyecto</th>
            <th>Investigador coordinador</th>
            <th>Fecha de inicio</th>
            <th>Fecha de finalización</th>
            <th>Oficial del proyecto</th>
            <th>Acciones</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Codigo</th>
                <th>@item.Nombre</th>
                <th>@item.NombreCoordinador @item.Apellido1Coordinador @item.Apellido2Coordinador</th>
                <th>@item.FechaInicioEjecucion</th>
                <th>@item.FechaFinEjecucion</th>
                <th>@item.NombreOficial @item.Apellido1Oficial @item.Apellido2Oficial</th>
                <th>
                    <button class="botonAzul" onclick="location.href = '@Url.Action("UIDatosProyecto","SeguimientoProyecto", new { codigoProyecto=item.Codigo })'">
                        Ver/Modificar datos del proyecto
                    </button>
                </th>
            </tr>
        }
    </table>
</div>


