@model List<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Investigador>

@{
    ViewBag.Title = "Agregar Investigador Asociado";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Investigador> investigadorPicker = TempData["investigadorPicker"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Investigador>;
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Departamento> departamentoPicker = TempData["departamentoPicker"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Departamento>;
}

<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto </label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyecto" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UIAgregarInvestigadorAsociado", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5">Lista de investigadores: </label>
                    <select class="form-control col-xs-5" id="pickerInvestigador" name="pickerInvestigador">
                        @foreach (var investigador in investigadorPicker)
                        {
                            <option value=@investigador.NumIdentidad>@investigador.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="cedulaInvestigador">Cédula del investigador:</label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="cedulaInvestigador" name="cedulaInvestigador" disabled />
                </div>
                <div class="form-inline col-md-6">
                    <label for="escuelaInvestigador" class="col-xs-5">Escuela/Departamento:</label>
                    <select class="form-control col-xs-5" id="escuelaInvestigador" name="escuelaInvestigador">
                        @foreach (var departamento in departamentoPicker)
                        {
                            <option value=@departamento.Id>@departamento.NombreProyecto</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="nombreInvestigador">Nombre del Investigador:</label>
                    <input type="text" class="form-control col-xs-5" id="nombreInvestigador" name="nombreInvestigador" disabled />
                </div>
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="sexoInvestigador">Sexo: </label>
                    <input type="text" class="form-control col-xs-5" id="sexoInvestigador" name="sexoInvestigador" disabled />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="primerApellido">Primer apellido: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="primerApellido" name="primerApellido" disabled />
                </div>
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="correoElectronico">Correo electrónico: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="correoElectronico" name="correoElectronico" disabled />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="segundoApellido">Segundo apellido: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="segundoApellido" name="segundoApellido" disabled />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="tipoInvestigador">Tipo de investigador:</label>
                    <select style="margin-left:5px" class="form-control col-xs-5" name="tipoInvestigador">
                        <option value="2">Investigador</option>
                        <option value="1">Coordinador</option>
                    </select>
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label for="codigoProyectoInput">Área de conocimiento:</label>
                    <input style="margin-left:5px" type="text" class="form-control" id="areaConocimiento" name="areaConocimiento" />
                </div>
            </div>


            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar investigador</button>
                </div>
            </div>
        }
    </div>
    <script>
        (function ($) {
            $("#pickerInvestigador").on('change', function () {
                var selectedIndex = $("#pickerInvestigador").prop('selectedIndex');
                var investigadores = JSON.parse('@Html.Raw(Json.Encode(TempData["investigadorPicker"]))');
                var Investigador = investigadores[selectedIndex]
                $("#cedulaInvestigador").val(Investigador.NumIdentidad)
                $("#nombreInvestigador").val(Investigador.Nombre)
                $("#primerApellido").val(Investigador.PrimerApellido)
                $("#segundoApellido").val(Investigador.SegundoApellido)
                $("#correoElectronico").val(Investigador.CorreoElectronico)
                $("#sexoInvestigador").val(Investigador.Sexo)
            })
        })(jQuery);
    </script>
</div>

