@model IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Departamento>
@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Departamento> departamentosPicker = TempData["departamentoPicker"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Departamento>;
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.TipoDepartamento> tipoDepartamentosPicker = TempData["tipoDepartamentosPicker"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.TipoDepartamento>;

}

<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto </label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyecto" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UIDepartamentos", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="codigoProyectoInput">Departamento </label>
                    <select style="margin-left:5px" class="form-control col-xs-5" name="DepartamentoDropdown">


                        @foreach (var departamento in departamentosPicker)
                        {
                            <option value=@departamento.Id>@departamento.NombreProyecto</option>

 
                        }

                    </select>
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="codigoProyectoInput">Tipo departamento </label>
                    <select style="margin-left:5px" class="form-control col-xs-5" name="tipoDepartamentoDropdown">
                        @foreach (var tipo in tipoDepartamentosPicker)
                        {
                            <option value=@tipo.Id>@tipo.Nombre</option>


                        }
                    </select>
                </div>
            </div>

            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar Departamento</button>
                </div>
            </div>
        }
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="UIDepartamentos"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla">
                        <tr id="ROW1">
                            <th>Departamento</th>
                            <th>Tipo</th>
                            <th> </th>
                        </tr>

                        @foreach (var departamento in Model)
                        {

                      

                    <tr>
                        @using (Html.BeginForm("UIDepartamentos", "SeguimientoProyecto", new { idDepartamento = departamento.Id, codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <th>@departamento.NombreProyecto</th>
                            <th>@departamento.Id</th>

                            <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>
                        }
                    </tr>

                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

