@model List<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Informe>
@{
    ViewBag.Title = "Ingresar Informes";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
}

<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto</label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyecto" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UICompras", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label for="fechaProgramada">Fecha prevista </label>
                    <div>
                        <input style="margin-left:5px" type="date" class="form-control" id="fechaPrevista" />
                    </div>
                </div>
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="numActaEscuelaInput">Memorando DIP:</label>
                    <input style="margin-left:5px" type="text" class="form-control" id="memorandoDIP" />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label for="codigoProyectoInput">Tipo de informe </label>
                    <select style="margin-left:5px" class="form-control col-xs-5" name="tipoInformeDropdown">
                        <option>Avance</option>
                        <option>Final</option>
                    </select>
                </div>
                <div class="form-inline col-md-6">
                    <label for="codigoProyectoInput">Acta de escuela</label>
                    <input style="margin-left:5px" type="text" class="form-control" id="actaDeEscuela" />
                </div>

            </div>

            <div class="row formRow">
                <label for="fechaProgramada">Fecha de entrega </label>
                <div>
                    <input style="margin-left:5px" type="date" class="form-control" id="fechaDeEntrega" />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <label for="nombreProyectoInput">Observaciones: </label>
                    <textarea class="form-control fullRowInput" id="observacionesIngresarInforme" rows="3"> </textarea>
                </div>
            </div>

            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar Informe</button>
                </div>
            </div>
        }


        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="areasFrascati"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla" style="table-layout: auto;">
                        <tr id="ROW1">
                            <th>Título del informe</th>
                            <th>Fecha prevista</th>
                            <th>Fecha de entrega</th>
                            <th>Estado</th>
                            <th>Tipo de informe</th>
                            <th> </th>
                        </tr>

                        @foreach (var Informe in Model)
                        {
                        <tr>
                            <th>@Informe.TituloInforme</th>
                            <th>@Informe.FechaProgramada</th>
                            <th>@Informe.FechaEntrega</th>
                            <th>@Informe.Estado</th>
                            <th>@Informe.TipoInforme</th>
                            <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>

                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

