@model List<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Horas>

@{
    ViewBag.Title = "Modificar Horas";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
}


<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto</label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyectoInput" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UICompras", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
        {
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="cedulaInvestigador">Cédula del investigador:</label>
                    <input style="margin-left:5px" type="text" class="form-control" id="cedulaInvestigador" name="cedulaInvestigador" />
                </div>
            </div>
            <div class="row formRow">
                <div class="form-inline col-md-8">
                    <label for="investigador">Investigador</label>
                    <input style="margin-left:5px" type="text" class="form-control" id="investigador" name="investigador" />
                </div>
            </div>

            <div class="row formRow">
                <div class="wrapperBotonAgregar">
                    <button class="botonAgregar" type="submit">Agregar horas</button>
                </div>
            </div>
        }

        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="areasFrascati"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla" style="table-layout: auto;">
                        <tr id="ROW1">
                            <th>Código de plaza</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de finalización</th>
                            <th>Horas asignadas</th>
                            <th> </th>
                        </tr>

                        @foreach (var horas in Model)
                        {
                    <tr>
                        @using (Html.BeginForm("UICompras", "SeguimientoProyecto", new { idHoras = horas.Id, codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <th>@horas.Id</th>
                            <th>@horas.FechaInicio</th>
                            <th>@horas.FechaFinalizacion</th>
                            <th>@horas.CantidadHoras</th>

                            <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>
                        }

                    </tr>

                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>