@model List<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.ObjetivoEspecifico>

@{
    ViewBag.Title = "Objetivos Específicos";
    Layout = "~/Views/Shared/UIProyectoSideMenu.cshtml";
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Meta> metas = TempData["metas"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Meta>;
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Riesgo> riesgos = TempData["riesgo"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Riesgo>;
    IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Producto> productos = TempData["productos"] as IEnumerable<Frontend_Modulo_dos_Sistema_de_Proyectos_VIE.Models.Producto>;

}

<div style="width:100%">
    <div class="container-fluid">
        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="nombreProyectoInput">Nombre del proyecto</label>
                <input type="text" class="form-control" id="codigoProyectoInput" value="@ViewData["NombreProyecto"]" disabled />
            </div>
        </div>
        <div class="row formRow">
            <div class="form-inline col-md-8">
                <label for="codigoProyectoInput">Código del proyecto </label>
                <input style="margin-left:5px" type="text" class="form-control" value="@ViewData["CodigoProyecto"]" id="codigoProyecto" disabled />
            </div>
        </div>
        @using (Html.BeginForm("UIObjetivosEspecificos", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"], objetivoEspecificoID = @ViewData["CodigoObjetivo"] }, FormMethod.Post))
        {

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <label for="objetivoEspecifico">Objetivo Específico: </label>
                    @Html.TextAreaFor(Proyecto => @ViewData["objetivoText"], new { @readonly = true,  @Name = "objetivoEspecifico", @class = "form-control fullRowInput", @rows = "3"  })

                </div>
            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <label for="metodologia">Metodología: </label>
                    @Html.TextAreaFor(Proyecto => @ViewData["metodologiaText"], new { @readonly = true, @Name = "metodologia", @class = "form-control fullRowInput", @rows = "3" })
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="producto">Producto: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="producto" name="producto" value="xxxx" />
                </div>
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="encargadosActividad">Encargados de la actividad: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="encargadosActividad" name="encargadosActividad" value="xxxx.com" />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="actividad">Actividad: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="actividad" name="actividad" value="xxxx" />
                </div>
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="nivelResposabilidad">Nivel de responsabilidad: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="nivelResposabilidad" name="nivelResposabilidad" value="xxxx xxxx" />
                </div>
            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <div class="wrapperBotonAgregar">
                        <button class="botonAgregar" type="submit">Agregar producto</button>
                    </div>
                </div>
            </div>
        }


        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="ampliarObjetivos"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla" style="table-layout: auto;">
                        <tr id="ROW1">
                            <th>Productos</th>
                            <th>Actividades</th>
                            <th>Encargados de la actividad</th>
                            <th>Nivel de responsabilidad</th>
                            <th> </th>
                        </tr>
                        @foreach (var producto in productos)
                        {



                            <tr>
                                @using (Html.BeginForm("UIObjetivosEspecificos", "SeguimientoProyecto", new { idProducto = producto.Id, codigoProyecto = ViewData["CodigoProyecto"] }, FormMethod.Post))
                                {
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <th>@producto.Nombre</th>
                                    <th>@producto.Actividad</th>
                                    <th>@producto.EncargadoNombre</th>
                                    <th>@producto.NivelDeResponsabilidad</th>

                                    <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>
                                }
                            </tr>

                        }
                    </table>
                </div>
            </div>
        </div>


        @using (Html.BeginForm("UIObjetivosEspecificosMeta", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"], objetivoEspecificoID = @ViewData["CodigoObjetivo"] }, FormMethod.Post))
        {

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="nuevaMeta">Nueva meta: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="nombreInput" name="nombreInput" value="xxxx" />
                </div>

            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <label for="descripcion">Descripción: </label>
                    <textarea class="form-control fullRowInput" id="descripcionInput" name="descripcionInput" rows="3"> </textarea>
                </div>
            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <div class="wrapperBotonAgregar">
                        <button class="botonAgregar" type="submit">Agregar meta</button>
                    </div>
                </div>
            </div>
        }

        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="ampliarObjetivos"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla" style="table-layout: auto;">
                        <tr id="ROW1">
                            <th>Meta</th>
                            <th>¿Cumplida?</th>
                            <th>Descripción</th>

                            <th> </th>
                        </tr>

                        @foreach (var meta in metas)
                        {



                    <tr>
                        @using (Html.BeginForm("UIObjetivosEspecificosMeta", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"], objetivoEspecificoID = @ViewData["CodigoObjetivo"], metaId = meta.Id }, FormMethod.Post))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <th>@meta.Nombre</th>
                            <th>@meta.EstaCumplida</th>
                            <th>@meta.descripcion</th>

                            <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>
                        }
                    </tr>

                        }
                    </table>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("UIObjetivosEspecificosRiesgo", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"], objetivoEspecificoID = @ViewData["CodigoObjetivo"] }, FormMethod.Post))
        {

            <div class="row formRow">
                <div class="form-inline col-md-6">
                    <label class="col-xs-5" for="posibleRiesgo">Posible riesgo: </label>
                    <input style="margin-left:5px" type="text" class="form-control col-xs-5" id="posibleRiesgo" name="posibleRiesgoInput" value="xxxx" />
                </div>

            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <label for="accionesMitigacion">Acciones de mitigación: </label>
                    <textarea class="form-control fullRowInput" id="accionesMitigacion" name="accionesMitigacionInput" rows="3"> </textarea>
                </div>
            </div>

            <div class="row formRow">
                <div class="form-group col-md-12">
                    <div class="wrapperBotonAgregar">
                        <button class="botonAgregar" type="submit">Agregar riesgo</button>
                    </div>
                </div>
            </div>
        }

        <div class="row formRow">
            <div class="form-group col-md-12">
                <label for="ampliarObjetivos"></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered disenoTabla" style="table-layout: auto;">
                        <tr id="ROW1">
                            <th>Posible riesgo</th>
                            <th>Acciones de mitigación</th>
                            <th> </th>
                        </tr>

                        @foreach (var riesgo in riesgos)
                        {



                            <tr>
                            @using(Html.BeginForm("UIObjetivosEspecificosRiesgo", "SeguimientoProyecto", new { codigoProyecto = ViewData["CodigoProyecto"], objetivoEspecificoID = @ViewData["CodigoObjetivo"], riesgoId = riesgo.Id }, FormMethod.Post))
                            {
                                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                                    <th>@riesgo.Nombre</th>
                                    <th>@riesgo.AccionesMitagacion</th>
                                    <th> <div> <button class="botonEliminar" type="submit"> Eliminar </button></div></th>
                                }
                            </tr>

                        }
                    </table>
                </div>
            </div>
        </div>









    </div>
</div>

